@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    .text-app-color {
        color: #6B357F;
    }
    .bg-app-color {
        background-color: #6B357F;
    }

    .bg-app-color:hover {
        background-color: #7b3694;
    }
}
